<h1 class="mt-5">Agregar Producto</h1>
<hr>

<form [formGroup]="miFormulario">

    <div class="row g-3 align-items-center mb-3">

        <div class="col-auto">
            <label for="" class="col-form-label">Nombre:</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" formControlName="nombre">
        </div>

        <div class="col-auto">
            <span appErrorMsg [color]="color" [mensaje]="texto1" [valido]="!tieneError('nombre')"> Este campo es requerido</span>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-primary" (click)="cambiarNombre()">Guardar</button>
        
            <button class="btn btn-primary ms-2" (click)="cambiarColor()">Cambiar Color</button>

        </div>
    </div>

</form>

<h3 class="mt-5"> Formulario</h3>

<pre> Valid:{{miFormulario.value | json}}</pre>
<pre> Valid:{{miFormulario.valid}}</pre>

<div class="row mt-5" *CustomIf="miFormulario.valid">
    <div class="col">
        <div class="alert alert-primary">TODO OK!</div>
    </div>
</div>